<div id="hero">
  <h1 class="headline">Best Movies Ever!</h1>
  <form id="addMovie" style="display:none;">
    <label>Movie Title</label>
    <input id="title">
    <label>Year</label>
    <input id="year"><br>
    <textarea id="summary" placeholder="Movie Summary"></textarea>
    <input type="button" id="add" class="btn" value="Nominate">
  </form>
</div>

<div id="lists">
  <p id="intro"><span id="nom">Nominate a Movie</span> then drag and drop any in the Ranked Movies list.Sort the Ranked Movies based on your preference by dragging each movie up or down. Click Save Rankings to save changes.</p>
  <div id="nominated">
    <h2>Nominated Movies</h2>
    <ul id="nominatedList">
      
    </ul>
  </div>
  <div id="ranking">
    <h2>Ranked Movies</h2>
    <ol id="rankedList">
    </ol>
    <p id="status"></p>
  </div>
</div>
